@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1676877692415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\f00b3";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-yonghu:before {
  content: "\e63f";
}

